/*
Custom CSS styles for peterjungers.github.io
Author: Peter Jungers
Date created: March 10, 2024
*/


.container {
    max-width: 800px;
}

.bg-main {
    background: #2e3238;
}

.bg-card-header-1 {
    background: #066679;
}

.bg-card-header-2 {
    background: #043d49;
}

.code-text {
    color: #b6f0fb;
}


/*
Code embed styles
Thanks to: https://codersblock.com/blog/customizing-github-gists/
*/

body .gist .gist-data {
  background-color: #cdcdcd;
}

body .gist .highlight {
  background-color: transparent;
}

body .gist .gist-meta {
  display: none;
}