/*
Name: Peter Jungers
Date: 12/6/22
Description: Custom styles to augment Bootstrap
*/


/* || GENERAL STYLES */
body {
    background-color: hotpink;
    color: #444;
}

a {
    color: #444;
    text-decoration-thickness: .03em;
    text-underline-offset: 2px;
}

a:hover {
    color: #444;
    text-decoration: none;
}


/* || SITEWIDE */
.bg-site {
    /* Site container color, allowing body color for overscroll */
    background-color: snow;
}

.bg-accent-1 {
    background-color: lightseagreen;
}

.bg-accent-2 {
    background-color: hotpink;
}

.bg-accent-2-muted {
    /* hotpink at 60% */
    background-color: rgba(255, 105, 180, 0.6);
}

.text-custom {
    color: #222;
}

.text-muted-70 {
    opacity: 0.7;
}

.list-text-color {
    color: #222;
}


/* || Media queries necessary for "historical_sites.html" */
@media screen and (max-width: 767px) {
    /* Shows content for smaller viewports only */
    .viewport-lg {
        display: none;
    }
}

@media screen and (min-width: 768px) {
    /* Shows content for larger viewports only */
    .viewport-sm {
        display: none;
    }

    body {
        background-color: snow;
    }
}
