/*
Name: Peter Jungers
Date: 11/11/22
Exercise: Frontend Mentor 3-column preview card component
*/


@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');


/* CSS reset */
body, main, footer, section, div, h1, p, a, img, button {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    background-color: hsl(0, 0%, 95%);
    font-family: 'Lexend Deca', sans-serif;
}

main {
    overflow: hidden;
    border-radius: 8px;
    margin-bottom: 25px;
}

main h1 {
    font-family: 'Big Shoulders Display', cursive;
    font-size: 2.5em;
    color: hsl(0, 0%, 95%);
    margin-bottom: 30px;
}

main p {
    font-size: 15px;
    line-height: 2em;
    color: hsla(0, 0%, 100%, 0.75);
    margin-bottom: 25px;
}

main img {
    margin-bottom: 35px;
}

footer {
    margin-bottom: 30px;
}

footer p {
    padding: .25em;
}

a {
    text-decoration: none;
}

button {
    background-color: hsl(0, 0%, 95%);
    font-family: 'Lexend Deca', sans-serif;
    width: 140px;
    height: 50px;
    border-radius: 25px;
}

.grid {
    display: grid;
    grid-template-rows: auto auto auto;
    column-gap: 0;
}

.attribution {
    font-size: 11px;
    color: hsl(179, 100%, 13%);
    text-align: center;
}

.attribution a {
    color: hsl(184, 100%, 22%);
}

#container {
    width: 88%;
    margin: 25% auto;
}

#sedans, #suvs, #luxury {
    padding: 50px;
}

#sedans {
    background-color: hsl(31, 77%, 52%);
}

#sedans button {
    color: hsl(31, 77%, 52%);
}

#suvs {
    background-color: hsl(184, 100%, 22%);
}

#suvs button {
    color: hsl(184, 100%, 22%);
}

#luxury {
    background-color: hsl(179, 100%, 13%);
}

#luxury button {
    color: hsl(179, 100%, 13%);
}


@media screen and (min-width: 825px) {

    main p {
        margin-bottom: 88px;
    }

    button:active {
        background-color: transparent;
        border: 2px solid hsl(0, 0%, 95%);
    }

    #sedans button:active,
    #suvs button:active,
    #luxury button:active {
        color: hsl(0, 0%, 95%);
    }

    .grid {
        grid-template-columns: auto auto auto;
    }

    #container {
        max-width: 930px;
        margin-top: 10%;
    }
}
