/*
	Author: Peter Jungers
	Date: January 2022
*/

body {
	background-color: CadetBlue;
	color: DarkSlateGray;
	text-align: justify;
	font-family: Georgia, serif;
}

.div-large {
	background-color: SeaShell;
	margin: 0 10% 5% 10%;
	border: 4px solid SteelBlue;
	padding: 5%;
	
}

.div-small {
	margin: 0 10%;
}

h1 {
	color: SteelBlue;
	font-family: Arial, Veranda, sans-serif;
	text-align: center;
}

h2 {
	color: RosyBrown;
	font-family: Arial, Veranda, sans-serif;
	font-style: italic;
	text-align: center;
}

ul {
	color: SteelBlue;
}

nav ul {
	border: 3px solid SteelBlue;
}

a {
	color: SteelBlue;
	font-family: Arial, Veranda, sans-serif;
	font-style: italic;
	text-decoration: none;
}

a:hover {
	color: CadetBlue;	
}

a.navbar:hover {
	color: Bisque;	
}

nav {
	color: SeaShell;
	background-color: CadetBlue;
	text-align: center;
}

nav li {
	margin: .5em 2em;
	display: inline-block;
	line-height: 1.5em;
}

.navbar {
	color: SeaShell;
}

img {
	border-radius: 8px;
	max-width: 100%;
	height: auto;
}

.center-img {
	display: block;
	margin: auto;
}

.center-text {
	text-align: center;
}

figcaption {
	color: CadetBlue;
	font-family: Arial, Veranda, sans-serif;
	font-style: italic;
	text-align: center;
	line-height: 2em;
}

footer {
	font-family: Arial, Veranda, sans-serif;
	text-align: center;
}
