/*
Name: Peter Jungers
Date: January 2023
Exercise: Frontend Mentor: Sunnyside agency landing page
*/


@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:opsz,wght@9..144,700;9..144,800&display=swap');

/* || CSS RESET */
html, body, header, main, footer, section, div, h1, h2, h3, h4, p, a, img, ul, li, button {
    margin: 0;
    padding: 0;
    border: 0;
}

/* || Default styles are for narrow screens */
/* || GENERAL SITEWIDE STYLES */
:root {
    /* Primary colors */
    --soft-red: hsl(7 99% 70%);
    --soft-red-alpha-25: hsl(7 99% 70% / .25);
    --yellow: hsl(51 100% 49%);
    --yellow-alpha-25: hsl(51 100% 49% / .25);
    --dark-desaturated-cyan: hsl(167 40% 24%);  /* "Graphic Design" text */
    --dark-desaturated-cyan-alpha-70: hsl(167 40% 24% / .7);
    --dark-blue: hsl(198 62% 26%);  /* "Photography" text */
    --dark-moderate-cyan: hsl(166 28% 35%); /* Footer text */
    --dark-moderate-cyan-alpha-70: hsl(166 28% 35% / .7);
    --light-moderate-cyan: hsl(165 36% 72%);
    /* Neutral colors */
    --very-dark-blue: hsl(212 27% 19%);
    --very-dark-blue-alpha-70: hsl(212 27% 19% / .7);
    --very-dark-gray-blue: hsl(213 9% 39%);
    --dark-gray-blue: hsl(232 10% 55%);
    --gray-blue: hsl(210 4% 67%);
    --white: hsl(0 0% 100%);
    --white-alpha-25: hsl(0 0% 100% / .25);
}

* {
    box-sizing: border-box;
}

body {
    background-color: var(--white);
    font-family: Barlow, sans-serif;
    font-size: 1.125rem;
}

h1, h2, h3, h4 {
    font-family: Fraunces, sans-serif;
    font-weight: 800;
}

h1 {
    font-size: 10.5vw;
    letter-spacing: .5rem;
    /*font-size: calc(1.5rem + 3vw); USE THIS */
    text-transform: uppercase;
}

h2 {
    font-size: 2.15rem;
}

h3 {
    font-size: 1.8rem;
}

h4 {
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: .3rem;
}

p {
    color: var(--dark-gray-blue);
    line-height: 1.9rem;
}

a {
    text-decoration: none;
}

img {
    display: block;
    width: 100%;
    height: auto;
}
/* END GENERAL SITEWIDE STYLES */


/* || UTILITIES */
.desktop {
    display: none;
}

.mobile {
    display: block;
}

.containers-site { /* Rename this */
    max-width: 1440px;
    margin: 0 auto;
}

.logo-sunnyside {
    width: 125px;
}

#hamburger-icon {
    display: block;
    width: 25px;
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--yellow);
    font-family: Fraunces, sans-serif;
    font-size: 1rem;
    text-transform: uppercase;
    width: 100%;
    height: 52px;
    border-radius: 26px;
    cursor: pointer;
}

.button:hover {
    background-color: var(--white-alpha-25);
}
/* END UTILITIES */


/* || HEADER */
header {
    position: relative;
}

#header-logo-nav {
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 1.85rem 1.25rem 0;
}

#header-content { /* Rename this */
    display: flex;
    justify-content: center;
}

#header-content h1 {
    position: absolute;
    top: 27%;
    color: var(--white);
    text-align: center;
}

#arrow-down {
    position: absolute;
    top: 54%;
    width: 9.5vw;
}

/* Header navigation */
header nav {
    display: none;
    position: absolute;
    top: 7rem;
    width: 100%;
    z-index: 1;
}

#header-nav-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
}

header nav.active {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*
Awesome help with how to make a triangle:
https://stackoverflow.com/questions/7073484/how-do-css-triangles-work
https://www.youtube.com/watch?v=tTNxykEAPpA
*/
#header-nav-triangle {
    align-self: end;
    width: 0;
    height: 0;
    border-left: 25px solid transparent;
    border-bottom: 25px solid var(--white);
    /* Only Chrome has a faint gap, but this can fix it: */
    /*position: relative;*/
    /*top: 1px;*/
}

#header-nav-links ul {
    display: flex;
    flex-direction: column;
    gap: 0;
    align-items: center;
    list-style-type: none;
    background-color: var(--white);
    width: 100%;
}

#header-nav-links li {
    padding: 1rem 0;
}

#header-nav-links li:first-of-type {
    padding-top: 2.75rem;
}

#header-nav-links li:last-of-type {
    padding-bottom: 2.75rem;
}

#header-nav-links a:link,
#header-nav-links a:visited,
#header-nav-links a:hover,
#header-nav-links a:focus,
#header-nav-links a:active {
    color: var(--dark-gray-blue);
}

#header-nav-links .button {
    width: 144px;
}

#header-nav-links a.button {
    color: var(--very-dark-blue);
}

#header-nav-links a.button:hover {
    color: var(--white);
}
/* END Header navigation */
/* END HEADER */


/* || MAIN GRID */
#main-grid {
    display: grid;
    grid-template-columns: 1fr;
}

/* Grid item classes: learn-more, learn-more-content */
.learn-more {
    display: flex;
    align-items: center;
}

.learn-more-content {
    text-align: center;
    width: 100%;
    padding: 4rem 1.25rem;
}

.learn-more-content h2 {
    color: var(--very-dark-blue);
    margin-bottom: 1.25rem;
}

.learn-more-content p {
    margin-bottom: 2rem;
}

.learn-more-content a {
    position: relative;
    font-family: Fraunces, sans-serif;
    font-weight: 800;
    font-size: 1.05rem;
    text-transform: uppercase;
    padding: 0 .5rem;
}

.learn-more-content a:link,
.learn-more-content a:visited,
.learn-more-content a:hover,
.learn-more-content a:focus,
.learn-more-content a:active {
    color: var(--dark-blue);
}

/*
Link underline: see #main-grid items section below for
underline styles specific to grid item
*/
.learn-more-content a::before {
    position: absolute;
    top: 62%;
    content: "";
    width: 100%;
    height: 10px;
    margin: 0 1rem 0 -.5rem;
    border-radius: 5px;
    z-index: -1;
}
/*
Thanks to https://stackoverflow.com/a/68127409/21046255
for help with figuring out the above underline.
*/
/* END Grid item classes: learn-more, learn-more-content */

/*
#main-grid items with IDs: text-transform, text-stand-out
(which use learn-more and learn-more-content classes)
*/
#text-transform .learn-more-content a::before {
    background-color: var(--yellow-alpha-25);
}

#text-stand-out .learn-more-content a::before {
    background-color: var(--soft-red-alpha-25);
}
/* END #main-grid items with IDs: text-transform, text-stand-out */

/* #main-grid item classes: skills, skills-content */
.skills {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.skills-content {
    position: absolute;
    top: 66%;
    width: 90%;
    text-align: center;
}

.skills-content h3 {
    margin-bottom: 1.5rem;
}

.skills-content p {
    font-size: 1.063rem;
    line-height: 1.75rem;
}
/* END #main-grid item classes: skills, skills-content */

/*
#main-grid items with IDs: graphic-design, photography
(which use skills and skills-content classes)
*/
#graphic-design .skills-content h3 {
    color: var(--dark-desaturated-cyan);
}

#graphic-design .skills-content p {
    color: var(--dark-desaturated-cyan-alpha-70);
}

#photography .skills-content h3 {
    color: var(--very-dark-blue);
}

#photography .skills-content p {
    color: var(--very-dark-blue-alpha-70);
}
/* END #main-grid items with IDs: graphic-design, photography */

/* #testimonials */
#testimonials {
    grid-column: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

#testimonials-grid {
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 0;
    justify-content: center;
    width: 90%;
    margin: 4rem 0 5rem;
}

#testimonials-grid h4 {
    grid-column: 1;
    color: var(--gray-blue);
    text-align: center;
    margin-bottom: 4rem;
}

.clients {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 4rem;
}

.clients:last-of-type {
    margin-bottom: 0;
}

.clients img {
    margin-bottom: 2rem;
}

.clients p {
    color: var(--very-dark-gray-blue);
    text-align: center;
}

.clients p:first-of-type {
    margin-bottom: 2rem;
}

.clients p:nth-of-type(2) {
    font-family: Fraunces, sans-serif;
    font-weight: 800;
    color: var(--very-dark-blue);
}

.clients p:last-of-type {
    font-size: .9rem;
    color: var(--gray-blue);
}

.img-client {
    width: 70px;
    border-radius: 50%;
}
/* END #testimonials */

#four-images-grid {
    grid-column: 1;
    grid-template-columns: repeat(2, 1fr);
    display: grid;
    width: 100%;
}
/* END MAIN GRID */


/* || FOOTER */
footer {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--light-moderate-cyan);
}

#footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 4.5rem 0;
}

#footer-content a:link,
#footer-content a:visited,
#footer-content a:focus,
#footer-content a:active {
    color: var(--dark-moderate-cyan-alpha-70);
}

#footer-content a:hover {
    color: var(--white);
}

#footer-content .logo-sunnyside {
    fill: var(--dark-moderate-cyan);
    width: 170px;
    margin-bottom: 2.5rem;
}

/* Footer navigation */
footer nav {
    margin-bottom: 5.5rem;
}

#footer-content nav ul {
    display: flex;
    list-style-type: none;
}

#footer-content nav li {
    display: flex;
    align-items: center;
    margin: 0 1.5rem;
}
/* END Footer navigation */

#footer-social-media-logos {
    display: flex;
    gap: 2rem;
    margin-bottom: 1rem;
}

#footer-social-media-logos img {
    height: 20px; /* Needs to be set because Twitter logo ratio isn't square */
}

#facebook:hover {
    content: url("images/icon-facebook-white.svg");
}

#instagram:hover {
    content: url("images/icon-instagram-white.svg");
}

#twitter:hover {
    content: url("images/icon-twitter-white.svg");
}

#pinterest:hover {
    content: url("images/icon-pinterest-white.svg");
}

.attribution {
    font-size: .69rem;
    color: var(--dark-moderate-cyan);
}

.attribution a {
    color: var(--light-moderate-cyan);
}
/* END FOOTER */


/* || VIEWPORTS (Come back to this after creating mobile view */
@media screen and (max-width: 950px) {
    #heading {
        /*top: 11vh;*/
    }
}


/* || DESKTOP VIEWPORT */
@media screen and (min-width: 480px) {
    /* || GENERAL SITEWIDE STYLES: Desktop viewport */
    h1 {
        font-size: 3.75vw;
        letter-spacing: .65rem;
    }

    h2 {
        font-size: 2.5rem;
    }

    h4 {
        font-size: 1.3rem;
    }

    p {
        line-height: 2rem;
    }
    /* END GENERAL SITEWIDE STYLES: Desktop viewport */

    /* || UTILITIES: Desktop viewport */
    .desktop {
        display: block;
    }

    .mobile {
        display: none;
    }

    .logo-sunnyside {
        width: 170px;
    }
    /* END UTILITIES: Desktop viewport */


    /* || HEADER: Desktop viewport */
    #header-content h1 {
        top: 25%;
    }

    #arrow-down {
        top: 45%;
        width: 2.5vw;
    }

    /* Header navigation */
    #header-logo-nav {
        padding: 2.25rem 2.75rem 0;
    }

    #hamburger-icon {
        display: none;
    }

    #header-nav-links {
        display: block;
        /*overflow: hidden;*/
    }

    #header-nav-links.active {
        /*display: block;*/
        /*overflow: visible;*/
    }
    /* END Header navigation */
    /* END HEADER: Desktop viewport */


    /* || MAIN GRID: Desktop viewport */
    #main-grid {
        grid-template-columns: repeat(2, 1fr);
    }

    /* #main-grid item classes: learn-more, learn-more-content */
    .learn-more-content {
        text-align: left;
        width: 62%;
        padding: 0;
    }

    .learn-more-content h2 {
        margin-bottom: 1.75rem;
    }

    .learn-more-content p {
        margin-bottom: 2.5rem;
    }
    /* END #main-grid item classes: learn-more, learn-more-content */

    /*
    #main-grid items with IDs: text-transform, text-stand-out
    (which use learn-more and learn-more-content classes)
    */
    #text-transform {
        grid-row: 1;
    }

    #text-transform .learn-more-content {
        margin-left: 22%;
    }

    #text-transform .learn-more-content a:hover::before {
        background-color: var(--yellow)
    }

    #text-stand-out.learn-more {
        justify-content: end;
    }

    #text-stand-out .learn-more-content {
        margin-right: 22%;
    }

    #text-stand-out .learn-more-content a:hover::before {
        background-color: var(--soft-red)
    }

    #img-transform {
        grid-column: 2;
    }
    /* END #main-grid items with IDs: text-transform, text-stand-out */

    /* #main-grid item classes: skills, skills-content */
    .skills-content {
        width: 50%;
    }
    /* END #main-grid item classes: skills, skills-content */

    /* #testimonials: */
    #testimonials {
        grid-column: 1 / span 2;
    }

    #testimonials-grid {
        grid-template-columns: repeat(3, 1fr);
        column-gap: 2.25rem;
        width: 100%;
        margin: 9rem 10rem;
    }

    #testimonials-grid h4 {
        grid-column: 1 / span 3;
        margin-bottom: 6rem;
    }

    .clients {
        margin-bottom: 0;
    }

    .clients img {
        margin-bottom: 3.25rem;
    }

    .clients p:first-of-type {
        margin-bottom: 4rem;
    }
    /* END #testimonials */

    #four-images-grid {
        grid-column: 1 / span 2;
        grid-template-columns: repeat(4, 1fr);
    }
    /* END MAIN GRID: Desktop viewport */
}

/* Desktop nav styles */
/*#header-nav-links ul {*/
/*    display: flex;*/
/*    list-style-type: none;*/
/*}*/

/*#header-nav-links li {*/
/*    display: flex;*/
/*    align-items: center;*/
/*    margin: 0 1.5rem;*/
/*}*/

/*#header-nav-links li:last-of-type {*/
/*    margin-right: 0;*/
/*}*/

/*#header-nav-links a:link,*/
/*#header-nav-links a:visited,*/
/*#header-nav-links a:hover,*/
/*#header-nav-links a:focus,*/
/*#header-nav-links a:active {*/
/*    color: var(--white);*/
/*}*/

/*#header-nav-links .button {*/
/*    width: 144px;*/
/*}*/

/*#header-nav-links a.button {*/
/*    color: var(--very-dark-blue);*/
/*}*/

/*#header-nav-links a.button:hover {*/
/*    color: var(--white);*/
/*}*/